@use 'variables' as *;

#companies {
  margin-top: 100px;
  margin-bottom: 1rem;
}

.companies-content {
  h3 {
    font-size: 1.3rem;
    margin-bottom: 40px;
    text-align: center;
  }

  .companies-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
  }
}