@use 'variables' as *;

#hero {
  margin-top: 2rem;
}

#hero .hero-content {

  display: flex;
  gap: 12px;

  .hero-title {
    font-size: 60px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    max-width: 555px;
  }

  .actions {
    display: flex;
    align-items: center;
    margin-top: 1em;
  }

  .btn-contact {
    font-size: 18px;
    font-weight: 600;
  }

  .btn-play {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 !important;
    width: 220px;
    margin-left: 1.3em;
    font-size: 16px;

    img {
      display: block;
      max-width: 100%;
      cursor: pointer;

      &:hover {
        filter: brightness(0);
      }
    }
  }
}

.hero-content {
  position: relative;
  .hero-description {
    flex: 0 0 auto;
    width: 60%;
  }
  
  .hero-ilustration {
    flex: 0 0 auto;
    width: 45%;

    img {
      max-width: 100%;
    }
  }
}