@use 'variables' as *;


#navigation {
  background-color: $white;
  width: 100%;
  position: relative;

  .brand-logo img {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;


    .nav-links {
      width: 60%;
      margin: auto;
    }

    .nav-links ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: space-evenly;
    }

    ul li a {
      text-decoration: none;
      display: block;
      color: $text-color;

      &:hover {
        color: $prim-color;
      }
    }
  }

}